extends ../layout/main

block title
  | Автошкола

block content  
  section.container
    div.advantages
      .block__title
        h2 Автошкола Левандівки
        p Переваги навчання у нас
      div.line__body
      .advantages__block
        .advantages__item
          .big-image.item-time
            i.icon-clock.icon-advantages
          .item-content
            .item-title Зручний час
            .item-desc Заняття відбуваються в зручний для вас час для комфортного засвоєння теорії. 
        .advantages__item
          .big-image.item-green
            i.icon-music.icon-advantages
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис
        .advantages__item
          .big-image.item-orange
            i.icon-pencil-alt.icon-advantages
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис
        .advantages__item
          .big-image
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис
        .advantages__item
          .big-image
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис
        .advantages__item
          .big-image
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис
        
    .price-section
      .block__title
        h2 Ціни
        p Най популярніші категорії
      .line__body.line__body--price
      .container-price
        section.card
          .card_inner
            .card_inner__circle
              img(src="image/icons-svg/scooter.svg", alt="")
            .card_inner__header
              img(src="http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg", alt="")
            .card_inner__content
              .title Категорія "А"
              .price &#8372; 1800
              .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .card_inner__cta
              button 
                span Записатись

        section.card
          .card_inner
            .card_inner__circle
              img(src="image/icons-svg/car.svg", alt="")
            .card_inner__header
              img(src="http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg", alt="")
            .card_inner__content
              .title Категорія "В"
              .price &#8372; 2800
              .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .card_inner__cta
              button 
                span Записатись
        
        section.card
          .card_inner
            .card_inner__circle
              img(src="image/icons-svg/truck.svg", alt="")
            .card_inner__header
              img(src="http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg", alt="")
            .card_inner__content
              .title Категорія "C"
              .price &#8372; 3400
              .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .card_inner__cta
              button 
                span Записатись


        //- section.card
        //-   .card_inner
        //-     .card_inner__circle
        //-       img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/rocket.png", alt="")
        //-     .card_inner__header
        //-       img(src="http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg", alt="")
        //-     .card_inner__content
        //-       .title Personal edition
        //-       .price $19.99
        //-       .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        //-     .card_inner__cta
        //-       button 
        //-         span Buy now
        //- section.card
          .card_inner
            .card_inner__circle
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/rocket.png", alt="")
            .card_inner__header
              img(src="http://www.pixeden.com/media/k2/galleries/343/002-city-vector-background-town-vol2.jpg", alt="")
            .card_inner__content
              .title Personal edition
              .price $19.99
              .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .card_inner__cta
              button 
                span Buy now



    .event
      .block__title
        h2 Навчальний процес
        p Ближайші навчання
      div.line__body.line__body--green
      .event__item-container
        .event__item
          .event__item_header
            img(src="image/event1.jpg", alt="Категорія").event__item_header--image
            .event__item_header--data
              span.number 22
              span.month Травня
          .event__item_title Категорія B          
          .event__item_content            
            .place
              i.icon-address
              span.place__title Левандівка
            .event-time
              i.icon-stopwatch
              span.place__title з 20:00 до 21:00
            .footer__line
            .text__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima ea eos obcaecati vero dignissimos facilis ipsa asperiores voluptatibus in voluptatem, dolorum modi sed nihil nesciunt quis pariatur aut explicabo.
            button(type="submit").but.button__event Деталі
        .event__item
          .event__item_header
            img(src="image/event1.jpg", alt="Категорія").event__item_header--image
            .event__item_header--data
              span.number 22
              span.month Травня
          .event__item_title Категорія B          
          .event__item_content            
            .place
              i.icon-address
              span.place__title Левандівка
            .event-time
              i.icon-stopwatch
              span.place__title з 20:00 до 21:00
            .footer__line
            .text__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima ea eos obcaecati vero dignissimos facilis ipsa asperiores voluptatibus in voluptatem, dolorum modi sed nihil nesciunt quis pariatur aut explicabo.
            button(type="submit").but.button__event Деталі
        .event__item
          .event__item_header
            img(src="image/event1.jpg", alt="Категорія").event__item_header--image
            .event__item_header--data
              span.number 22
              span.month Травня
          .event__item_title Категорія B          
          .event__item_content            
            .place
              i.icon-address
              span.place__title Левандівка
            .event-time
              i.icon-stopwatch
              span.place__title з 20:00 до 21:00
            .footer__line
            .text__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima ea eos obcaecati vero dignissimos facilis ipsa asperiores voluptatibus in voluptatem, dolorum modi sed nihil nesciunt quis pariatur aut explicabo.
            button(type="submit").but.button__event Деталі
        .event__item
          .event__item_header
            img(src="image/event1.jpg", alt="Категорія").event__item_header--image
            .event__item_header--data
              span.number 22
              span.month Травня
          .event__item_title Категорія B          
          .event__item_content            
            .place
              i.icon-address
              span.place__title Левандівка
            .event-time
              i.icon-stopwatch
              span.place__title з 20:00 до 21:00
            .footer__line
            .text__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima ea eos obcaecati vero dignissimos facilis ipsa asperiores voluptatibus in voluptatem, dolorum modi sed nihil nesciunt quis pariatur aut explicabo.
            button(type="submit").but.button__event Деталі
        

