extends ../layout/main

block title
  | Автошкола

block content  
  section.container
    div.advantages
      .advantages__title
        h2 Автошкола Левандівки
        p Переваги навчання у нас
      .advantages__block
        .advantages__item
          .big-image
          .item-content
            .item-title Назва
            .item-desc Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис Опис