footer.footer
  .nav-line-gradient.gradient-line
  .wrap-footer
    .container.flex
      .about-us
        h3.footer__title Про нашу автошколу
        .footer__line
        .about-us__content
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolor aut reprehenderit recusandae earum deleniti expedita odit magni minima vero, temporibus minus in quam ipsam voluptatem numquam. Quaerat, voluptas.
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolor aut reprehenderit recusandae earum deleniti expedita odit magni minima vero, temporibus minus in quam ipsam voluptatem numquam. Quaerat, voluptas.
        .footer__line
      .gallerei
        h3.footer__title Про нашу автошколу
        .footer__line
        .gallerei__container
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
          a(href="#")
            img(src="/image/img1.jpg", alt="", srcset="").gallerei__item
      .contact-footer
        h3.footer__title Контакти
        .footer__line
        p.contact-footer-help
          | Залиш повідомлення і питання ми тобі передзвонимо
        form(action="", method="post")
          input(type="text" placeholder="Ваш телефон або email").form-text
          textarea(rows="4" placeholder="MESSAGE").form-text          
          input(type="button", value="Відправити").button.button__footer-submit
.footer-line-info
  .container.footer-line-info-container
    .footer-line-info__info
      p.footer-line-info__info_text © Copyright 2018
    .footer-line-info__social
      div.button.social-icon.social-facebook
        i.icon-facebook
