header.header
  section.slider(style="background-image: url(image/img8.jpg);")
    .container
      .nav-container
        .nav-top-line
          span.nav-top-line__event.uptext 
            i.icon-calendar-empty 
            | навчання
          span.icon-record-outline
          span.nav-top-line__news.uptext 
            i.icon-pencil 
            | новини        
          span.icon-record-outline
          span.nav-top-line__phone.uptext
            i.icon-phone-outline
            span 095 345 45 345
        .nav-line-gradient.gradient-line
        .nav-line        
          .logo Автошкола
          nav.top-nav
            a(href="#") головна
            a(href="#") курси
            a(href="#") новини
            a(href="#") ціни
            a(href="#") контакти
      
section.big-menu
  .container
    .big-menu-container
      a(href="#").big-menu-buttom.bmc-category 
        i.icon-pencil.icon-float
        span Категорії
      a(href="#").big-menu-buttom.bmc-price 
        i.icon-dollar.icon-float
        span Ціни
      a(href="#").big-menu-buttom.bmc-event 
        i.icon-calendar.icon-float
        span Розклад
      a(href="#").big-menu-buttom.bmc-teachers 
        i.icon-graduation-cap.icon-float
        span Учителі
    

