* {
  box-sizing: border-box;
}

// html{
//   padding: 0;
//   margin: 0;
//   //font-size: 1.6
// }

body {
  font-family: "Gabriela", serif;
  background: #ffffff;
}
.wrapper {
  height: 100%;
}
.container {
  width: 1152px;
  margin: auto;
  padding: 0 $gutter;
}

.uptext {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
