.advantages {
}
.advantages__title {
  text-transform: uppercase
}
.advantages__title > h2 {
  font-size: 30px;
  color:#868585;
}
.advantages__title > p {
  font-size: 20px;
  color:#a4a4a4;
}
.advantages__block {
}
.advantages__item {
}
.big-image {
}
.item-content {
}
.item-title {
}
.item-desc {
}
